<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.fer.elektrijada" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.news.NewsFeedActivity"
            android:label="Vijesti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.news.NewsActivity"
            android:label="Vijest"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.news.EditNewsActivity"
            android:label="Uređivanje vijesti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.teams.TeamsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Ekipe"
            >
        </activity>
        <activity
            android:name=".activities.teams.NewTeamActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Dodavanje ekipe"
            >
        </activity>
        <activity
            android:name=".activities.competitions.CompetitionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Natjecanja"
            >
        </activity>
        <activity android:name=".activities.settings.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".activities.competitions.NewCompetitionActivity"
            android:label="Novo natjecanje"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
